* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: nhi;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: nhi;
  src: url(../fonts/NotoSansJP-Regular.otf);
}
@font-face {
  font-family: nhi-bold;
  src: url(../fonts/NotoSansJP-Bold.otf);
}
@font-face {
  font-family: nhi-light;
  src: url(../fonts/NotoSansJP-Light.otf);
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
}
.container a {
  color: white;
}
.container {
  max-width: 72em;
  margin: 0 auto;
  padding: 0 0.9375rem;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  background-image: linear-gradient(
    to right,
    red,
    green,
    blue,
    pink,
    purple,
    orange
  );
  font-family: nhi-bold;
}
.container .navbar {
  display: flex;
  justify-content: space-around;
}
.container .logo {
  font-size: 2.5rem;
  font-family: nhi-bold;
}
.container .navbar a {
  padding-right: 1.25rem;
  font-size: 0.875rem;
}
.container .navbar a:after {
  margin-top: 0.2rem;
  width: 0%;
  display: block;
  content: "";
  height: 0.125rem;
  background-color: #c62584;
  transition: all 0.3s ease;
  color: #c62584;
}
.container .navbar a:hover:after {
  width: 100%;
}
.container .navbar a:hover {
  color: #c62584;
}
.carousel {
  background-image: url(../images/b3.jpg);
  width: 100%;
  height: 37.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.carousel h1 {
  font-size: 3rem;
}
.carousel h1:before {
  content: "We ";
}
.carousel h1:after {
  content: "!!";
}
.carousel button {
  padding: 0.625rem 1.25rem;
  border: solid 1px white;
  background-color: #c62584;
  color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.intro {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  /* grid-template-rows: repeat(3 27.05075rem); */
  position: relative;
}
.intro .intro-item {
  text-align: center;
  color: white;
  align-content: center;
  position: relative;
}
.intro .item1 {
  background: rgb(78, 42, 132);
}
.intro .item3 {
  background: #ff0e83;
}
hr {
  position: absolute;
  display: inline;
  grid-column: 1 / 5;
  width: 100%;
  border: 0rem;
  height: 0.3rem;
  background-color: rgba(250, 250, 250, 0.473);
}
.intro .line1 {
  bottom: 37.2rem;
}
.intro .line2 {
  top: 88.2rem;
}
.intro .line3 {
  top: 57.2rem;
}
.intro h1 {
  margin-top: 50%;
  padding-bottom: 0.6rem;
  font-family: nhi-bold;
}
.intro p {
  font-size: 0.6rem;
  line-height: 1.5rem;
  padding: 0rem 1.5rem;
}
.intro .item2 {
  width: 100% !important;
  grid-column: 2 / 4;
}
.intro img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.intro .item4 {
  background: #ed6498;
  grid-column: 1 / 3;
}
.intro .item4 h1 {
  margin-top: 25%;
}
.intro .item6 {
  background: #836eaa;
}
.intro .item9 {
  grid-column: 3 / 5;
}
.intro .item8 {
  background: rgb(78, 42, 132);
}
.static .container {
  display: flex;
  justify-content: space-evenly;
}
.static .s-item {
  padding: 4em 0em;
}
.static .s-item .num {
  text-align: center;
  font-size: 2rem;
  color: rgb(78, 42, 132);
  font-family: nhi-bold;
}
.static .s-item .text {
  font-family: nhi-bold;
  letter-spacing: 0.3rem;
}
.video .container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.video .vid video {
  height: 17rem;
  width: 29rem;
}
.video .youtub iframe {
  height: 17rem;
  width: 29rem;
}
.team {
  background-color: rgb(78, 42, 132);
  color: white;
  position: relative;
}
.team .container {
  padding: 0rem 1rem;
}
.team .line4 {
  top: 4rem;
  padding: 0rem;
}
.team h1 {
  padding-top: 7rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: nhi-bold;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.team .t-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.team .t-item {
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
}
.team .item2 .block {
  position: relative;
}
.team .item2 .layer1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
  width: 100%;
}

.team .item2 .layer1 .bg {
  position: absolute;
  top: 20px;
  transition: 0.4s;
}
.team .item2 .layer1 .text {
}
.team .item2 .layer1 .mota {
}
.team .item2 .layer1 .social {
}

.team .item2:hover .layer1 {
  background-color: #14141463;
  width: 100%;
  height: 100%;
  opacity: 100;
  padding: 30% 15px;
}
.team .item2:hover .layer1 .bg {
  background-color: #14141463;
  width: 100%;
}
.team .item2:hover .layer1 .text {
  background-color: #14141400;
}
.team .item2:hover .layer1 .text .title {
  color: #ff0e83;
  font-size: 24px;
}
.team .item2:hover .layer1 .mota {
  padding: 15px;
}
.team .item2:hover .layer1 .social {
}

.team .t-item img {
  width: 100%;
  display: block;
}
.team .text {
  padding: 15px;
}
.team .t-item .text {
  background-color: #c62584;
}
.team .line5 {
  top: 26rem;
  left: 0;
}
.team .line6 {
  top: 57rem;
  left: 0;
}
